.vs/
**/bin/
**/obj/
*.user
/KK.PROEngine.Run.WebJob/_cache.json
/KK.PROEngine.UI.CMS/App_Data/Logs
/KK.PROEngine.UI.CMS/App_Data/TEMP
/packages
**/App_Data/Logs/
**/App_Data/[Pp]review/
**/App_Data/TEMP/
**/App_Data/NuGetBackup/
**/App_Data/umbraco.config
!**/App_Data/[Pp]ackages/
!**/[Uu]mbraco/[Dd]eveloper/[Pp]ackages
**/App_Data/cache/
**/node_modules
TeamTraeWeb/appsettings.json

