<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team Træ</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/packages.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/packages.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div id="right-border" style="z-index: -1">
    </div>

    <div style="width:100%;overflow-y:scroll; height: 100vh">
        <div class="container body-content">
            <img src="~/images/logo.png" style="width:100%" />

            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2018 - TeamTræ</p>
            </footer>
        </div>
    </div>

    <script src="~/js/polyfill.min.js" asp-append-version="true"></script>

    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        $(function () {
            function adjustRightBg() {
                $('#right-border').css("height", $(document).height());
                setTimeout(adjustRightBg, 1000);
            }

            // adjustRightBg();
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
